<header id="top" class="animateColors" style="height: 1px;">
	<nav class="navbar navbar-default">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ site.url }}" class="navbar-brand">
				<strong>Galtashma </strong> | Dont Nibble, Just Byte
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-menu">
			<ul class="nav navbar-nav navbar-right">
                                {% assign pages = site.html_pages | sort:"weight"  %}
				{% for page in pages %}
				{% unless page.exclude %} 
					<li><a href="{{ page.url }}" title="{{page.title}}">{{page.title}}</a></li>
				{% endunless %}
				{% endfor %}
			</ul>
		</div>
	</nav>
	<script src="{{ site.url }}/assets/js/colors.js"></script>
</header>
