<header>
	<div id="top-line">
		<a class="user-avatar">
			<img src="/assets/img/avatar.jpg">
		</a>

		<a href="index.html" id="site-name">
			<strong>Galtashma | Dont Nibble, Just Byte</strong>
		</a>
	</div>
	<div id="top" class="animateColors navbar-default  animateColors2">
		<div id="top-container" class="container">
	
			<div id="top-part" class="col-md-12 ">
				<h1 id="title"> <b>GAL</b> <span id="tash">TASHMA</span></h1>
				<h3 id="slogan">Hi, I'm <span id="name">Gal</span>, I <span id="act">code</span> <span id="adj">awseome</span> <span id="noun">projects</span></h3>
	
			</div>
	
			<div id="menu-buttons">
                                {% assign pages = site.html_pages | sort:"weight"  %}
				{% for page in pages %}
				{% unless page.exclude %} 
					<a class="menuButton" href="{{ page.url }}" title="{{page.title}}">{{page.title}}</a>
				{% endunless %}
				{% endfor %}
			</div>
	
		</div>
	</div>
	<script src="{{ site.url }}/assets/js/colors.js"></script>
</header>
